@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Get Posts</h1>
    
</div>
<h1>Posts</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Text</th>
            <th>Creator</th>
            <th></th>
        </tr>
    </thead>
   
</table>